/*学习目标*/
body{overflow-x: hidden;}
.mubiao1{background: url("../images/mubiao_1.png");background-size:100%; width: 291px; height: 32px}
.mubiao2{background: url("../images/mubiao_2.png");background-size:100%; width: 291px; height: 30px}
.mubiao3{background: url("../images/mubiao_3.png");background-size:100%; width: 291px; height: 30px}
.play_bg{background: url("../images/play_bg.png");width: 100%; height: 222px; background-size: 100% 100%;}
.ui-search{background: url("../images/search.png"); width: 16px;height: 16px;background-size: 100% 100%;}
.hi{background: url("../images/hi.png");width: 45px; height: 38px; background-size: 100% 100%;}
.free{background: url("../images/free.png");width: 16px; height: 16px; background-size: 100% 100%;}
.liwu{background: url("../images/liwu.png");width: 16px; height: 16px; background-size: 100% 100%; }
.telep{background: url("../images/telep.png");width: 25px; height: 25px; background-size: 100% 100%; }
.dizhi{background: url("../images/dizhi.png");width: 25px; height: 25px; background-size: 100% 100%; }
.point{background: url("../images/point.png");width: 25px; height: 25px; background-size: 100% 100%; }
.cart1{background: url("../images/cart1.png");background-size:100%; width: 291px; height: 30px}
.cart2{background: url("../images/cart2.png");background-size:100%; width: 291px; height: 30px}
.cart3{background: url("../images/cart3.png");background-size:100%; width: 291px; height: 30px}
.deng{background: url("../images/deng.png");background-size:100%; width: 41px; height: 41px;display: block;}
.maozi{background: url("../images/maozi.png");background-size:100%; width: 26px; height: 20px;display: block;}
.stickup{position: fixed;width: 100%;z-index: 10;}
.list1{
    background: #fff; border-bottom: 1px solid #ddd;padding: 8px 0; padding-left: 20px; font-size: 14px;
    overflow: hidden;
}
.list1 h4{
    color: #4b9bdd;padding-left: 10px; font-size: 14px; margin: 5px;
}
.list1 dl{
}
.list1 dl dd{
    padding-top: 2px;
    padding-bottom: 2px
}
.login-form .login-field-icon {
    position: absolute;
    top: 3px;
    left: 15px;
    font-size: 16px;
    color: #bfc9ca;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.login-form .login-field-icon2 {
    position: absolute;
    top: 3px;
    right: 15px;
    font-size: 16px;
    color: #bfc9ca;
    -webkit-transition: all .25s;
    transition: all .25s;
}

.login-form .login-field {
    text-indent: 0;
    padding-left: 40px;
}
.clear {
    clear: both;
}

.k_calendar:before,
.k_home:before,
.k_detail:before,
.k_clock:before,
.k_teacher_intro:before,
.k_home_intro:before,
.k_arrow_left:before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/icon.png") 0 0 no-repeat;
    background-size: 100px 300px;
    overflow: hidden;
    background-position: 0 -214px;
}

.k_select:after{
    background: url('../images/icon.png') 0 -279px no-repeat;
    content: '';
    background-size: 100px 300px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
}

.k_arrow_left:before {
    background-position: 0 -244px;
    height: 20px;
}

.k_container {
    overflow-x: hidden;
}

.loading img {
    width: 25px;
    height: 25px;
}
.loading, .loadbtn {
    font-size: 13px;
}