@charset "utf-8";/* CSS Document */
*{word-wrap:break-word;margin: 0;padding: 0}
.dn{display:none;}
.clr{clear:both;float:none;}
ul{ padding:0px; margin:0px; list-style: none;}
body{ color: #606060; font-size: 15px; font-family: Times New Roman; background: #f1f1f1;
    overflow:hidden;
}
.block{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

/*.nav*/
.nav{
    display: block;
    background: #fff;
    font-family: "Microsoft YaHei";
    height: 45px;
    width: 100%;
    line-height: 45px;
    overflow: hidden;
}
.nav .title{width: 100%;border-bottom: 1px #58b526 solid; height: 44px; }
.nav .title ul{ height: 42px; }
.nav .title ul li{ float: left;width: 20%; margin-right:2%; margin-left: 2%;text-align: center;height: 42px;}
.nav .title ul li.on{ border-bottom: 3px #58b526 solid;}

.container{
    width: 100%;
    padding-top: 10px;
    margin-bottom: 50px;
}

/*info block*/
.info{
    position: relative;
    border-radius: 8px;
}
.info .title{
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    padding-top: 10px;padding-bottom: 10px;
}
.info .module{
    min-height: 340px;
    border-radius: 5px;
    line-height: 25px;

    padding-top:0px;
    position: relative;

}
.info .module .note .shape{background: #58b526;
    position: absolute;bottom:-5px;right:50px;width: 10px; height: 10px;-webkit-transform:rotate(45deg);
    -webkit-box-shadow:0 0 10px 0 #58b526;}
.info .module .note .shape.bottom{
    bottom:-5px;
}
.info .module .note .shape.top{
    top:-5px;
}
.listen{ padding-left: 20px;padding-right: 20px; padding-top: 10px;}
.listen .title{text-align: center; font-family: Microsoft Sans Serif; font-size: 39px;margin-bottom: 10px;}
.listen .titleimg{ background: url("../images/listen.png") no-repeat;background-size: 31px 31px;height: 32px; width: 32px;margin: 20px auto;}
.listen .module{}
.listen .module li{  color: #434343; background: #fff; border-radius: 5px;
    border:1px solid #c6c6c6;text-align: center; height: 40px;line-height: 40px; font-family:"黑体"; overflow: hidden; margin-bottom: 20px;margin-top: 20px;}
.listen .module li.on{ background: #58b526;color: #fff;}
.listen .module li.ok{color: #fff;background: url("../images/listen_ok.png") 95% 15px no-repeat #58b526;background-size: 11px 9px;}
.listen .module li.error{color: #fff;background: url("../images/listen_error.png") 95% 15px no-repeat #e53d51;background-size: 11px 9px;}


footer{
    z-index: 3;
    position: fixed;bottom: 0px;width: 100%;
    left: 0px;
}

.endAnswer{ height: 35px; margin-bottom: 15px;margin-right: auto;margin-left: auto; width: 300px;}
.endAnswer .left{
    font-family: "黑体";
    color: #808080;
    float: left;
    margin-left: 20px;
    line-height: 35px; margin-right: 10px;
}
.endAnswer .cxdt{
    font-family: "黑体";
    color: #58b526;
    float: left;
    border: 1px solid #58b526;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    display: block;
}
/*.page*/
.page{ background: #e9e9e9;height: 55px;}
.page .module{
    position: relative;
    width: 40%;
    left: 30%;
    height: 45px;
    bottom: 0px;
}
.page .prev{
    position: absolute;
    left: 0px;
    background: url("../images/page_prev.png");
    width: 30px;
    background-size: 30px 30px;
    height: 30px;
    top: 8px;
}
.page .next{
    background: url("../images/page_next.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 8px;
}
.page .text{
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    font-family: "黑体";
}

/*音效 block*/
.audio{  background: #cae1b4; height: 45px;width: 100%;}
.audio .left{
    background: #98ce76;
    float: left;
    height: 100%;
    width: 70px;
}
.audio .left .audio_play{
    background: url("../images/audio_play.png") no-repeat 25px 13px;
    width: 100%;
    height: 100%;
    background-size:23px 23px;
    display: block;
}
.audio .left .audio_stop{
    background: url("../images/audio_stop.png") no-repeat 25px 13px;
    width: 100%;
    height: 100%;
    background-size:23px 23px;
    display: block;
}
.audio .left .audio_pause{
    background: url("../images/audio_pause.png") no-repeat 25px 13px;
    background-size:23px 23px;
    width: 100%;
    height: 100%;
    display: block;
}
.audio .right{
    background: #cae1b4;
    float: left;
    height: 100%;
    position: relative;
}
.audio .right .progress{
    background: #aed691;
    float: left;
    width: 0px;
    height: 100%;
}
.audio .right .time{
    position: absolute;
    left: 75px;
    top: 13px;
    color: #ffffff;
    font-family: "宋体";
    font-size: 14px;
}
/*.choice*/
.choice{
    font-size: 17px;
    font-family: Times New Roman;
}
.choice .title{
    margin-bottom: 15px;
    white-space:nowrap;
}
.choice .module{
    margin-bottom: 15px;
}
.choice .module ul{
}
.choice .module li{
    background: url("../images/choice_none.png") no-repeat;
    padding-left: 30px;
    margin-bottom: 10px;
    line-height: 30px;
    margin-top: 6px;
    background-size: 23px 23px;
}
.choice .module li.on{
    background: url("../images/choice_on.png") no-repeat;
    background-size: 23px 23px;
}
.choice .module li.ok{
    background: url("../images/choice_ok.png") no-repeat;
    background-size: 23px 23px;
}
.choice .module li.error{
    background: url("../images/choice_error.png") no-repeat;
    background-size: 23px 23px;
}
.choice .answer{
    border: 1px #58b526 solid;
    padding: 8px 10px;
    overflow: hidden;
    font-family: "黑体";
    color: #336600;
}
.choice .answer ul{ width: 400px;}
.choice .answer li{
    line-height: 20px;
    float: left;
    margin-right:10px;
}
.choice .answer li span{ font-weight: bold;}
.choice .answer .error{
    background: url("../images/choice_error.png") no-repeat 10px 15px;
    padding: 18px;
    background-size: 23px 23px;
}
.choice .answer .ok{
    background: url("../images/choice_ok.png") no-repeat 10px 15px;
    padding: 18px;
    background-size: 23px 23px;
}
/*choice_content*/
.choice_content{ margin-bottom: 15px; border-bottom: 1px solid #c8cacd;}
.choice_content .hide{text-align: center;height: 25px;font-family: "黑体"; line-height: 25px;background: #c8cacd;}
.choice_content .hide .plus{ height: 25px;width:25px;margin-right:20px;float: right;background:url("../images/choice_content_plus.png") no-repeat right; background-size: 12px 12px; }
.choice_content .title{ font-family: "宋体";text-align: center;height: 30px; line-height: 30px;}
.choice_content .module{ font-size: 17px; margin: 5px 15px;}
.choice_content .show2{ height: 25px;}
.choice_content .jq{ height: 25px; width: 67px;float: right; background: #c8cacd url("../images/choice_content_jq.png") no-repeat right;background-size: 67px 25px;  }
/*查看答案*/
.ckda{
    border-radius: 4px; background: #58b526; border: 1px solid #58b526; text-align: center; color: #fff; height: 35px; line-height: 35px; font-family:"黑体";
}
/*重新答题*/
.cxdt{
    border-radius: 4px; background: #fff; border: 1px solid #58b526; text-align: center; color: #58b526; height: 35px; line-height: 35px; font-family:"黑体";
}